<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python 
2. scala 
3. julia

Some of the commonly used libraries used by Data Scientists include:
1. sciket-learn 
2. matplotlib
3. pandas
4. numpy
5. seaborn

|Data Science Tools|
|---|
|My SQL|
|Apahe Airflow|
|Power BI, Kibana ,Pixidust|
|Mleep, Apache_Predictiion_IO|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
 # This a simple arithmetic expression to mutiply the add integers
(3*4)+5

17

In [16]:
#  This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print("hours :", hours)

hours : 3.3333333333333335

**Objectives:**
+ lists 
+ popular data-science libraries
+ popular data-science languages
+ popular tools for data-science
+ how to make tables in md
+ adding heading in md
+ how to use code section in md

## Author
Sujal Sharma